<mat-tab-group
  [selectedIndex]="selectedIndex"
  [backgroundColor]="backgroundColor"
  [attr.mat-align-tabs]="alignTabs"
  (selectedIndexChange)="onTabChange($event)">
  
  <mat-tab 
    *ngFor="let tab of tabs; let i = index"
    [disabled]="tab.disabled"
    [label]="tab.label">
    
    <ng-template mat-tab-label>
      <span class="tab-label">
        <mat-icon *ngIf="tab.icon" class="tab-icon">{{ tab.icon }}</mat-icon>
        {{ tab.label }}
        <span class="tab-badge" *ngIf="tab.badge">{{ tab.badge }}</span>
      </span>
    </ng-template>

    <div class="tab-content" *ngIf="tab.content" [innerHTML]="tab.content"></div>
    <ng-content *ngIf="!tab.content"></ng-content>
  </mat-tab>
</mat-tab-group>

