.icon {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.small {
  width: 16px;
  height: 16px;
}

.medium {
  width: 24px;
  height: 24px;
}

.large {
  width: 32px;
  height: 32px;
}

.xlarge {
  width: 48px;
  height: 48px;
}

