<mat-nav-list>
    <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="hasPermission(item)">
            <!-- Parent menu item with children -->
            <mat-list-item *ngIf="item.children && item.children.length > 0" 
                          (click)="toggleExpanded(item)"
                          [class.expanded]="item.expanded"
                          [class.active]="isActive(item, (activeRoute$ | async) || '')">
                <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
                <div mat-line>{{ item.label }}</div>
                <span class="badge" *ngIf="item.badge">{{ item.badge }}</span>
                <mat-icon class="expand-icon">{{ item.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-list-item>

            <!-- Child menu items -->
            <div class="submenu" *ngIf="item.expanded && item.children">
                <a mat-list-item 
                   *ngFor="let child of item.children" 
                   [routerLink]="child.route"
                   routerLinkActive="active-link"
                   [class.active]="(activeRoute$ | async) === child.route">
                    <mat-icon mat-list-icon class="submenu-icon">{{ child.icon }}</mat-icon>
                    <div mat-line>{{ child.label }}</div>
                </a>
            </div>

            <!-- Simple menu item without children -->
            <a mat-list-item 
               *ngIf="!item.children || item.children.length === 0"
               [routerLink]="item.route" 
               routerLinkActive="active-link"
               [class.active]="(activeRoute$ | async) === item.route">
                <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
                <div mat-line>{{ item.label }}</div>
                <span class="badge" *ngIf="item.badge">{{ item.badge }}</span>
            </a>
        </ng-container>
    </ng-container>
</mat-nav-list>